.kalahboard{
  width: 1000px;
  height: 600px;
  background-color: #114d56;
  margin: 0 auto;
  text-align: center;
  border-radius:30px;
  margin-bottom:150px;
  border-style: outset;
}
.statusboard{
  display: inline-block;
  text-align: top;
  font-size: 28px;
  padding-top : 0px;
  padding-bottom : 15px;
  font-style: oblique;
  font-weight: bold ;
  color: white;
}
.gameblock{
  display: inline-block;
  padding: 1px;
}
.kalah{
  height: 120px;
  width: 100px;
  background-color: #0f444c;
  border-radius: 40px;
  margin-top: -180px;
  border: 2px inset;
  display: inline-block;
  border-color: #0d4048;
  text-align: center;
  justify-content: center;
  font-size: 40px;
  vertical-align: middle;
  line-height: 120px;
}
.pitrow{
  border: 2px ;
  width: 100%;
  height: 100%;
  margin: auto;
  clear: both;
  padding-top: 50px;
  padding-bottom: 30px;

}
.pit{
  height:90px;
  width:100px;
  background-color:#0f444c;
  border-radius:40%;
  margin-bottom:5px;
  text-align: center;
  border: 2px  inset ;
  border-color:#0d4048;
  display: inline-block;
  font-size: 40px;
  line-height: 90px;
}
.player1Title{
  height:1px;
  text-align: center;
  font-size: 25px;
  font-weight: bold ;
}
.player2Title{
  height:1px;
  text-align: center;
  font-size: 25px;
  font-weight: bold ;
}
